@{
    ViewData["Title"] = "Home Page";
}
<h1>Giới thiệu</h1>

<p>Blog (gọi tắt của weblog) là một dạng nhật
     ký trực tuyến hoặc một trang web cá nhân. 
     Cá nhân hoặc tổ chức có thể chia sẻ các kiến thức, 
     trải nghiệm, thông tin về một hay nhiều chủ đề…
     Đa số các bài viết blog thường hiển thị những bài mới nhất lên đầu trang.</p>
     
